form > .sendRecipe{
    color: white;
    border-color: grey;
    padding-left: 2em;
}

form> button{
    width: 50%;
}

nav{
    display: flex;
    align-items: flex-start;
    padding-left: 5em;
}
main{
    padding-left: 7em;
}

@media only screen and (max-device-width: 420px){
    .recipes{
        display: flex;
        flex-direction: column;
    }

    main{
        width: 100vw;
        height: 200vh;
        padding: 0;
        margin: 0;
    }

    main > form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav{
        width: 100vw;
        height: 40vh;
        padding: 0;
        display: flex;
        align-items: center;
    }

    #choices{
        width: 70vw;
        height: 35vh;
        margin: 1em 0 1em 0;
        overflow: auto;
    }
}