main > h1{
    font-size: 3em;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
}

nav{
    height: 102.6vh;
    padding-top: 1em;
}

.social-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
}

@media only screen and (max-device-width: 420px){
    header{
        padding: 0;
    }

    .recipes{
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #choices{
        width: 100%;
    }

    nav{
        height: 60%;
        width: 100%
    }

    main{
        width: 100vw;
        height: 40%;
        padding: 0;
    }

    .shopping-list{
        height: 100%;
        width: 80%;
    }

}