.recipe-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-form > form{
    margin: 1em;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

main::-webkit-scrollbar{
    display: none;
  }

.recipes-list>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.recipes-list>div {
    border: 1px solid gray;
    border-radius: 1em 1em 0 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #B0A8B9 0%, #59545F 100%);;
}

@media only screen and (max-device-width: 420px){

    main {
        display: grid;
        grid-template-columns: repeat(1, 0.8fr);
        grid-gap: 2em;
        padding: 0;
        overflow: auto;
        width: 100vw;
        justify-content: center;
    }
    nav{
        width: 100vw;
        height: 10vh;
        background: #1E1E1E;
    }
    .recipes{
        display: flex;
        flex-direction: column-reverse;
    }
}