body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(104.28deg, #8659CF 4.11%, #008B6F 94.04%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
    text-align: center;
}

.form-header{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
}

.login-container{
    width: 25%;
    
}

form.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40vh;
    
    background: #FFFFFF;
    border-radius: 30px;
}

.register-container{
    width: 25%;
    
}

form.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60vh;
    
    background: #FFFFFF;
    border-radius: 30px;
}

.lr-swap{
    font-size: 1.5vh;
    margin-top: 0.5vh;
}

button{
    background: #00A194;
    border-radius: 30px;

    width: 80%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input, textarea{
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 30px;
    text-align: center;
    width: 80%;
    color: black;
    margin: 1em;
    line-height: 2.5em;
}

@media only screen and (max-device-width: 420px){
    .container{
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo{
        width: 100%;
    }

    .register-container, .logo{
        width: 100%;
    }

    form{
        margin: auto;
    }

    img{
        height: 5em;
        margin: 2em;
    }
}

.base-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

}

.recipes{
    display: flex;
    flex-direction: row;
    height: 90%;
}

nav{
    width: 25vw;
    height: 100%;
    background: linear-gradient(180deg, #B0A8B9 0%, #59545F 100%);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul{
    list-style-type: none;
}

main{
    width: 75vw;
    background: #1E1E1E;
}

a{
    text-decoration: none;
    /* color: white; */

    display: inline-block;
}

div i{
    font-size: 2em;
}

.button{
    display: flex;
    background: #00A194;
    box-shadow: 4em 2em 4em rgba(0, 0, 0, 0.25);
    border-radius: 3em;
    text-align: center;
    padding: 0.5em;
    color: white;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    margin-left: 1vw;
}

.button-icons{
    color: white;
    display: flex;
    float: right;
    margin-right: 1vw;
}

header{
    display: flex;
    width: 100%;
    height: 10%;
    padding: 1em 2em;
    justify-content: space-between;
    background: linear-gradient(90deg, #8659CF 0%, #00C3A2 99.98%, rgba(217, 217, 217, 0) 99.99%);
}

.nav-buttons{
    display: flex;
    align-items: center;
}

.user-buttons{
    display: flex;
    align-items: center;
}

.nav-buttons>img{
    height: 90%;
}